.creation-section {
  background: #fff;
  margin-top: 4%;
  padding-right: 10%;
  padding-left: 10%;
}

.creation-section h3 {
  color: #840040;
  margin-bottom: 13px;
  font-weight: 500;
  margin-bottom: 3.5%;
}

input,
select,
textarea {
  padding: 0.8rem;
  border: 1px solid #ff47a0;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.creation-section label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  font-size: 16px;
}

.siret-search {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  height: 35px;
}

.btn-search {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #840040;
  border-radius: 4px;
  margin-bottom: 25px;
  background-color: white;
}

@media (max-width: 750px) {
  .creation-section h3 {
    color: #840040;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 7%;
  }

  .btn-search {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #840040;
    border-radius: 4px;
    margin-bottom: 48px;
    background-color: white;
  }
}
