.structure-section {
  background: #fff;
  margin-top: 4%;
  width: 55%;
}

p {
  color: #840040;
  font-size: 15px;
}

.structure-section h3 {
  color: #840040;
  margin-bottom: 13px;
  font-weight: 500;
  margin-bottom: 3.5%;
}

.Select-label {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  width: 45%;
}

.Slabel {
  align-items: center;
  justify-content: start;
  width: 100%;
  color: #840040;
  font-size: 20px;
  font-weight: 500;
}

.Ilabel {
  padding: 0;
  width: 10%;
  color: #840040;
}

.structure-section label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  font-size: 16px;
}

textarea {
  padding: 0.8rem;
  border: 1px solid #ff47a0;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  height: 100px;
}

@media (max-width: 750px) {
  .structure-section {
    background: #fff;
    margin-top: 4%;
    width: 80%;
  }
  .structure-section h3 {
    color: #840040;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 7%;
  }
}
