button {
  margin-top: 3%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  width: 18%;
  background: #840040;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}

.containerChoix {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 40px 35px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.containerChoix h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1rem;
  color: #013a51;
}

.containerChoix h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 3.5rem;
  color: #840040;
}

.containerChoix h4 {
  text-align: center;
  margin-bottom: 20px;
  color: #013a51;
  font-size: 1.1rem;
}

.boutonChoix {
  margin-top: 3%;
  border: 2px solid #840040;
  border-radius: 25px;
  font-size: 1rem;
  width: 25%;
  color: #840040;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
  text-align: center;
  width: 65%;
  padding: 3%;
}

.containerChoix.active {
  border: 2px solid #840040;
  background-color: #fff4f8;
  transform: scale(1.03);
  transition: 0.3s;
}

.containerChoix.active .boutonChoix {
  background-color: #840040;
  color: white;
}
