.containerRdv {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.information {
  width: 50%;
  border-radius: 10px;
  background-color: #fbf8f8;
  padding: 1%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px #ddd;
}

.rdv-container {
  width: 100%;
  padding: 0.5% 3%;
}

.step-indicator {
  font-weight: bold;
  color: #555;
}

.step-content input,
.step-content select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.secteur-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 15px;
}

.secteur-card {
  border: 2px solid #ccc;
  padding: 12px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  background: #fff;
  padding-top: 10%;
  padding-bottom: 10%;
}

.secteur-card input {
  display: none;
}

.secteur-card:hover {
  border-color: #840040;
}

.secteur-icon {
  margin-bottom: 8px;
  color: #840040;
}

.secteur-card.active .secteur-icon {
  color: white;
}

.secteur-card.active {
  background: #840040;
  color: white;
  border-color: #840040;
}

.grid-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.option-card {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover effect */
.option-card:hover {
  border-color: #840040;
}

/* Active/selected state */
.option-card.active {
  background: #840040;
  color: white;
  border-color: #840040;
}

/* Last option full width */
.option-card.full-width {
  grid-column: 1 / -1;
}
